* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /*  */
}

body {
  color: #ededed;
  background: #081b29;
}
.header {
  position: fixed; /*fixed to one place */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* larger index value covers lower index value  */
}

.logo {
  position: relative; /* it can overlap  */
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 900; /* makes darker */
  margin-left: 143px;
  cursor: default;
  opacity: 0;
  animation: slideRight 2s ease forwards; /* ease: slow-fast-slow*/
}

.navbar a {
  display: inline-block; /* horizontal way not on a new line*/
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px; /* gap between home about */
  /* transition: 5s;  transition effect */
  opacity: 0;
  animation: slideTop 2s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #0ef;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url("/portfolio.jpg");
  background-size: cover;
  background-position: center; /* background image in centre */
  display: flex;
  align-items: center; /* Content in Center */
  padding: 112px 85px 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}

.home-sci a {
  display: inline-flex;
  text-decoration: none;
  align-items: center; /* controls alignment */
  justify-content: center; /* space between the two items or logos */
  width: 40px;
  height: 40px;
  background: transparent; /* removes background */
  border: 2px solid #0ef;
  border-radius: 50%;
  color: #0ef;
  opacity: 0;
  /* transition: .5s ease; */
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0px;
}

.home-sci a:hover {
  background: #0ef;
  color: black;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  font-weight: 600;
  opacity: 0;
  /* transition: .5s ease; */
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
  box-shadow: 0 0 15px #0ef;
  border: 2px solid #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 40px #0ef;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px); /* 100px moves left*/
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px); /* 100px moves left*/
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px); /* 100px moves left*/
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px); /* 100px moves left*/
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px); /* 100px moves left*/
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* section 2 */

.about {
  padding-top: 40px;
  display: grid; /* Grid Form*/
  grid-template-columns: repeat(2, 1fr); /* repeat(no_columns,size)*/
  /* 'fr' means divides it into ratio */
  align-items: center;
  gap: 1.5rem;
  margin-top: 120px; 
  height: 100vh;                                                                   
}
.about-img img {
  padding-bottom: 6%;
  max-width: 630px;
  height: auto; /*auto means "lagel tevdach ekdam tekun" */
  width: 100%;
  /* border-radius: 8px; */
}

.about-text h2 {
  font-size: 60px;
}
.about-text h4 {
  font-size: 35px;
  font-weight: 700;
  color: whitesmoke;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text h2 span {
  color: #0ef;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 64px; /* 1 rem =16px*/
  margin-right: 60px;
}

/* section 3 */
#portfolio {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.container {
  padding: 55px;
  margin-bottom: -70px;
}

.sub-title {
  margin-top: 62px;
  text-align: center;
  font-size: 60px;
  padding-bottom: 20px;
}

.sub-title span {
  color: #0ef;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  /* border: 2px solid #0ef; */
  border-radius: 20px;
  /* transition: background 0.5s, transform 0.5s; */
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #053b8f;
}
.services-list div:hover {
  transform: translateY(-10px);
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
.services-list div p {
  font-size: 19px;
  margin-bottom: 12px;
  font-family: sans-serif;
}

.read {
  display: inline-block;
  padding: 10px 24px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  animation: slideTop 2s ease forwards;
  animation-delay: 0.2s;
  box-shadow: 0 0 5px #0ef;
  border: 2px solid #0ef;
}

.read:hover {
  box-shadow: 0 0 20px #0ef;
}

/* Section 3 */
section {
  /* display: flex;
  flex-wrap: wrap; */
  margin-top: 0px;
  /* align-self: center; */
  
  
  

  
  
}

.skills
{
  
  padding-top: 52px;
  
}
.container1 {
  margin-top: 44px;
  width: 600px;
  height: 500px;
  padding: 17px 5px;
  margin-left: 441px;
  margin-bottom: 25px;

   
}

#highskils
{
  

}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.bar {
  font-size: 22px;
}
.technical-bars .bar {
  margin-top: 40px 0;
}

.technical-bars .bar .info {
  margin-bottom: -1px;
}
.technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 1s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.technical-bars .bar .progress-line {
  position: relative; /* stop in limit */
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: black;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards; /* cubic-bezier divides the animation in intervals*/
  transform: scaleX(0); /* scalex for mostly horizontal animations*/
  transform-origin: left; /* point of transformation*/
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute; /*it can take others place*/
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  /* name duration delay timing_function  final_state_maintains */
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 90%;
}

.progress-line.javascript span {
  width: 75%;
}
.progress-line.cplus span {
  width: 90%;
}
.progress-line.reactjs span {
  width: 80%;
}
.progress-line.dsa span {
  width: 80%;
}
.progress-line.java span {
  width: 90%;
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* flex items at start of  */
  justify-content: space-evenly;
}
.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  /* stroke means border of object */
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  /* dash and gap */
  stroke-dashoffset: 502;
  /*makes edges move*/
  stroke-linecap: round;
  /*make edges butt or square or round*/
  animation: barry 1s linear forwards;
}

@keyframes barry 
{
  100% 
  {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  /*inside portion of circle i.e fillings inside stroke*/
  stroke-dasharray: 502;
  /*this one in both*/
  stroke-dashoffset: 502;
  /* both are same so invisible */
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 50;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
}
.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;

  transform: translate(-50%);
  font-weight: 500;
  font-size: 17px;
  font-weight: 600;
}

.contact {

  padding-left: 30px;
  margin-top: 60px;
  background: #051129;
  height: 24vh;
}

.contact-text {
  display: flex;
  margin-top: -45px;
  padding-top: 17px;
}
.contact-text h2 {
  margin-top: 24px;
  text-align: center;
  font-size: 40px;
  padding: 40px;
  margin-left: 30px;
}
.contact-text h2 span {
  color: #0ef;
}
.contactlist {
  margin-left: 103px;
  padding-left: 74px;
  text-decoration: none;
  margin-top: 47px;
}
/* .contactlist li {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
  padding: 4px;
  margin-top: 15px;
}
.contactlist li i {
  margin-right: 10px;
  color: #0ef;
  font-size: 20px;
  font-weight: 500;
} */
.contactlist a {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
  padding: 4px;
  color: white;
  text-decoration: none;
  padding: 1px;
}
.contactlist a i {
  margin-right: 10px;
  color: #0ef;
  font-size: 24px;
  font-weight: 500;
}

.callme{
  padding: 4px;
}
#contactme
{
 

  display: flex;
  margin-top: 30px;
  padding-left: 20px;
  margin-left: 216px;
  gap: 25px;
  
}

